@import "@fontsource/roboto-mono/400.css";
@import "@fontsource/roboto-mono/700.css";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

@theme {
    /* Space black */
    --color-primary: #000000;
    /* Space white */
    --color-secondary: #ffffff;

    /* Font */
    --font-mono: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}